.jk-modal {
    width: 80vw;

    @media (min-width: 768px) {
        width: 50%;
    }

    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    padding: 20px 35px 20px 35px;
    transition: all 0.3s;


    h5 {
        font-size: 25px;
        opacity: 1;
    }

    p {
        font-size: 13px;
        opacity: 0.4 !important;
    }

    i {
        font-size: 13px;
        padding: 10px;
        border-radius: 50%;
        background-color: #333333;
        color: #dd0034;
    }
}

.modal-anim {
    transform: translateX(-50%) translateY(-50%) scale(0.7);
    opacity: 0;
    z-index: -5;
}