/** Global **/

body {
    background: #1e1e1e;
    font-size: 62.5%;
}

a {
    font-size: 0.9rem;
}

.container-custom {
    margin-top: 2rem;
}

hr {
    background: #3b3b3b;
}


.movie-latest {
    margin-bottom: 2rem;
}

/** Navigation **/

.navbar-brand img {
    width: 8rem;
}

/** Buttons **/

.btn {
    border-radius: 5rem;
    font-size: 0.9rem;
}

.btn-primary {
    color: #ffffff;
    background: #ff1244;
    border: 1px solid #ff1244;
}

.btn-primary:hover {
    border: 1px solid #ff1244;
    background: #ff3561;
    color: #ffffff;
}

.btn-outline-primary {
    border: 1px solid #ff1244;
    color: #ff1244;
}

.btn-outline-primary:hover {
    border: 1px solid #ff1244;
    background: #ff1244;
    color: #ffffff;
}

/** Forms **/

.form-control {
    border-radius: 5rem;
    font-size: 0.9rem;
    border: 0;
}

.form-control:focus {
    outline:0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

/** Cards **/
.card {
    transition: background 0.5s;
}

.card:hover {
    background: #4e1824 !important;
}

.card-title a {
    font-size: inherit;
    color: #ff1244;
}

.card-title a:hover {
    color: #ff6284;
    text-decoration: none;
}

.card-img {

    opacity: 0.2;
}

/** Extra **/

.bg-empty {
    background: transparent;
}

.bg-dark {
    background: #292929 !important;
    color: #ffffff;
}

/** Rating **/
.rating:before {
    font-family: FontAwesome;
    font-size: 0.7rem;
    content: "\f005";
    padding-right: 0.5rem;
    color: #ff1244;
}

.rating {
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
}

.description {
    font-size: 0.9rem;
    padding-bottom: 1rem;
}